body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo {
    font-size: 24px;
    color: #ff0000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    color: #ff0000;
}

.search-container {
    display: flex;
}

.search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    background-color: #ff0000;
    color: #fff;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
}

main {
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 32px;
    margin: 50px 0;
}

p {
    font-size: 20px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #fff;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ff0000;
}

.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.product-card{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.product-card h2,.person-card h2{
    color: #ff0000;
}

.product-card{
    color: #fff;
}

.person-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.people-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.person-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 150px;
}

.person-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.contact-container h2 {
    color: white;
    margin-bottom: 20px;
}

.contact-details {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    color: white;
}

.contact-details p {
    margin: 10px 0;
}

footer {
    text-align: center;
    background-color: red;
    padding: 10px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
